default-cache-ttl 10800
max-cache-ttl 10800
default-cache-ttl-ssh 10800
max-cache-ttl-ssh 10800
pinentry-program {{ if eq .chezmoi.os "darwin" }}/usr/local/bin/pinentry-mac{{ else if eq .chezmoi.fullHostname "primary" }}/usr/bin/pinentry-curses{{ else }}/usr/bin/pinentry-qt{{ end }}
